<section id="about" class="container-full page-section js-page-section">
    <div class="page-section__inner container" data-animate-in="fade">
        <header class="pb-7">
            <span class="page-section__hd">About</span>
            <h2 class="h2">About GitMerge</h2>
        </header>

        <div class="d-flex flex-items-center">
            {% include patterns/pattern-about.html %}

            <div class="pl-md-4">
                <p class="p-lg">Git Merge is a one-day conference dedicated to the version control tool that started it all—and the people who use it every day. From technical sessions to hands-on workshops, developers of all experience levels will find new ways to use, build on, and scale Git on their teams.</p>
            </div>

        </div>

        <div class="mt-8">
            <div class="pb-6">
                <h3 class="h3 pb-2">How to get to Git Merge</h3>
                <p>Travel tips for every leg of your trip.</p>
            </div>

            <div class="d-md-flex">
                <div class="col-md-4 pb-5 pb-md-0 pr-md-2 pr-lg-3">
                    <h4 class="p-lg pb-2">Venue</h4>
                    <p>Git Merge will be hosted in the Convent dels Àngels at MACBA, the historic chapel adjacent to the Museum of Contemporary Art in Barcelona.</p>
                </div>
                <div class="col-md-4 pb-5 pb-md-0 pl-md-2 pr-md-2 pl-lg-3 pr-lg-3">
                    <h4 class="p-lg pb-2">Travel and transportation</h4>
                    <p>We recommend flying into Barcelona—El Prat International Airport (BCN).</p>
                    <p class="mt-2">The Convent dels Àngels is accessible via the Barcelona Metro. You can take the red or green lines to the Catalunya station and walk a few short blocks to the venue.</p>
                </div>
                <div class="col-md-4 pl-md-2 pl-lg-3">
                    <h4 class="p-lg pb-2">Hotels</h4>
                    <p>You’ll find a variety of hotels and AirBnBs near the venue.</p>
                </div>
            </div>
        </div>
    </div>
</section>
