
<footer class="site-footer" role="contentinfo">
    <div class="container-wide">
        <div class="site-footer__brand">
            <a class="site-footer__logo" href="/">
                <img src="/assets/images/GitMerge-2018-Logo.svg" alt="GitMerge Logo" />
            </a>
            {% include patterns/pattern-footer.html %}
        </div>

        <div class="site-footer__form">
            <form>
                <label class="sr-only">Enter your email address</label>
                <input type="email" placeholder="Enter your email address" value="" />
                <button type="submit"><span class="sr-only">Submit</span></button>
            </form>
        </div>

        <ul class="site-footter__links">
            <li>
                <a class="link mb-4 d-block" href="/code-of-conduct/">Code of Conduct</a>
            </li>
            <li>
                <a class="link mb-4 d-block" href="/terms-conditions/">Event Terms</a>
            </li>
            <li>
                <a class="by-github" href="/privacy-policy/">
                    <img src="/assets/images/svgs/code.svg" alt="coded" />
                    <span>with</span>
                    <img src="/assets/images/svgs/heart.svg" alt="love" />
                    <span>by</span>
                    <img src="/assets/images/svgs/GitHub.svg" alt="GitHub" />
                </a>
            </li>
        </ul>
    </div>
</footer>
