
<footer class="site-footer" role="contentinfo">
    <div class="container-wide">
        <div class="site-footer__legal">
            <a href="">
                <!-- <img src="/assets/images/GitHub-logomark-white.svg" alt="GitHub Logo" /> -->
            </a>
            <p>©<script>document.write(new Date().getFullYear())</script> GitHub, Inc. All Rights Reserved.</p>
        </div>

        <ul>
            <li>
                <a href="https://github.com/about/" target="_blank">About GitHub</a>
            </li>
            <li>
                <a href="/code-of-conduct/">Code of Conduct</a>
            </li>
            <li>
                <a href="/terms-conditions/">Terms & Conditions</a>
            </li>
            <li>
                <a href="/contact/">Contact</a>
            </li>
        </ul>
    </div>
</footer>
