
<footer class="site-footer" role="contentinfo">
    <div class="container-wide">
        <div class="site-footer__brand">
            <a class="site-footer__logo" href="/">
                <img src="/assets/images/GitMerge-2018-Logo.svg" alt="GitMerge Logo" />
            </a>
            {% include patterns/pattern-footer.html %}
        </div>

        <div class="site-footer__form">
            <form>
                <input type="email" value="" />
                <button type="submit"><span class="sr-only">Submit</span></button>
            </form>
        </div>

        <ul>
            <li>
                <a href="https://github.com/about/" target="_blank">About GitHub</a>
            </li>
            <li>
                <a href="/code-of-conduct/">Code of Conduct</a>
            </li>
            <li>
                <a href="/terms-conditions/">Terms & Conditions</a>
            </li>
            <li>
                <a href="/contact/">Contact</a>
            </li>
        </ul>
    </div>
</footer>
