
<header class="site-header" role="banner">
    <div class="site-header__inner container-wide">
        <h1 class="logo" data-animate-in="fade">
            <a href="/">
                <img class="sr-only" src="/assets/images/GitMerge-2018-Logo.svg" alt="GitHub Sponsorship Prospectus Logo" />

                <figure class="site-branding">
                    <img id="git" src="assets/images/git.svg" alt="git" />
                    <img id="merge" src="/assets/images/merge.svg" alt="merge" />
                    <img id="year" src="/assets/images/2018.svg" alt="2018" />
                </figure>

                <span class="sr-only">{{ site.title }}</span>
            </a>
        </h1>

        <nav class="site-header-panel">
            <div>
                <ul class="main-nav" role="navigation">
                    <li>
                        <a href="#home" class="selected" data-scroll-to="home" data-scroll-offset="54" data-click-group="nav">Home</a>
                    </li>
                    <li>
                        <a href="#about" data-scroll-to="about" data-scroll-offset="54" data-click-group="nav">About</a>
                    </li>
                    <li>
                        <a href="#speakers" data-scroll-to="speakers" data-scroll-offset="54" data-click-group="nav">Speakers</a>
                    </li>
                    <li>
                        <a href="#schedule" data-scroll-to="schedule" data-scroll-offset="54" data-click-group="nav">Schedule</a>
                    </li>
                    <li>
                        <a href="#faq" data-scroll-to="faq" data-scroll-offset="54" data-click-group="nav">FAQ</a>
                    </li>
                    <li>
                        <a class="button" href="">
                            <span class="button__text">Get Tickets</span>
                            <span class="button__hover"></span>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="burger">
            <div>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
