// ---------------------------------------------------------------------
//  Table Styles
// ---------------------------------------------------------------------

.faq__nav {

    a {
        display: block;
        @include link;
        color: $gray;
        padding: 4px 0;
        margin: 4px 0;
        transition: color $trans;

        &.selected,
        &:hover {
            color: $yellow;
        }
    }
}

.faq-content {
    a {
        color: $yellow;
        text-decoration: underline;
    }
}
