// ---------------------------------------------------------------------
//  Lists Styles
// ---------------------------------------------------------------------


.logo-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &:before,
    &:after {
      content: "";
      flex: auto;
    }

    li {
        width: 33.333333%;
        padding: 20px 5px;

        @include start-at($small){
            width: 25%
        }
    }

    a {
        display: block;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 94%;
        max-height: 70px;

        @include start-at($medium){
            max-width: 148px;
        }
    }
}
