// ---------------------------------------------------------------------
//  Svg Grids
// ---------------------------------------------------------------------

$squre-width: 64px;
$squre-height: 64px;

.shape-grid {
    display: grid;
    grid-template-columns: $squre-width $squre-width $squre-width;
    grid-template-rows: $squre-width $squre-width $squre-width;
    opacity: 0;
    transition: opacity $trans;

     &.in-view {
        opacity: 1;
    }
	> * {
		margin: 4px;
		overflow: hidden;
	}

	.two-rows {
		grid-row-end: span 2;
	}

	.three-cols {
		grid-column-end: span 3;
	}

    &.shape-grid--single {
        display: block;
    }
}

.shape-grid--2x3 {
	grid-template-columns: $squre-width $squre-width;
}

.shape-grid-4-3 {
	grid-template-columns: $squre-width $squre-width $squre-width $squre-width $squre-width;
}

.shape-grid--2x1 {
    grid-template-columns: $squre-width $squre-width;
    grid-template-rows: $squre-width;
}

.shape-grid-4-2 {
	grid-template-columns: $squre-width $squre-width $squre-width $squre-width;
    grid-template-rows: $squre-width $squre-width;
}

.shape-grid--3x1 {
    grid-template-columns: $squre-width $squre-width $squre-width;
    grid-template-rows: $squre-width;
}
